/* Limpar formatacoes padrao */

* {
    margin: 0;
    padding: 0;
}


/* Formataçao Links */

a {
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {
    color: #FFF;
    padding: 8px 12px;
}

a:hover {
    color: #f7b600;
    background-color: #FFF;
    padding: 10px;
}

/* Formatacao do Menu */

body {
    font-size: 1em;
    font-family: Helvetica;
    background: #CCC;
}

#area-cabecalho {
    background-color: #f7b600;
    padding: 10px;
    text-align: center;
}

#area-logo, #area-menu {
    padding: 15px;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco {
    color: #FFF;
    background: #CCC;
}